{% extends '__base.html' %}

{% load bootstrap4 %}

{% block maincontainer %}

    <div class="card rounded-0">
        <div class="card-header">
            <strong>Change Password</strong>
        </div>
        <form method="POST" action="" class="password_change mb-0">
            <div class="card-block">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn rounded-0 btn-primary" id="submit">Change Password
                </button>
            </div>
        </form>
    </div>

{% endblock %}