{% extends '__base.html' %}

{% block sidebar_inventory %} active{% endblock %}

{% load bootstrap4 %}

{% block maincontainer %}
    <div class="row">
        <div class="col-3">
            <div class="card rounded-0 bb-warning">
                <div class="card-block text-center">
                    <h1><a href="{% url 'inventory:category_list' %}">{{ category_list.count }}</a></h1>
                    <h5>Total Categories</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-0 bb-info">
                <div class="card-block text-center">
                    <h1><a href="{% url 'inventory:item_list' %}">{{ object_list.count }}</a></h1>
                    <h5>Total Items</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-0 bb-danger">
                <div class="card-block text-center">
                    <h1><a href="{% url 'inventory:out_of_stock' %}">{{ out_of_stock }}</a></h1>
                    <h5>Out of Stock Items</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-0 bb-success">
                <div class="card-block text-center">
                    <h1>XXX</h1>
                    <h5>Top Selling Items</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        {% comment %}<div class="col-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <h5 class="d-inline">Categories</h5>
                    {% if category_list.count > 6 %}
                        <a href="" class="btn btn-sm btn-secondary float-right rounded-0">View All</a>
                        <br>
                        <small class="text-muted">Showing 6 of {{ category_list.count }} Categories</small>
                    {% endif %}
                </div>
                <div class="card-block">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">No.of items</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for category in category_list %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td class="text-center">{{ category.item_set.count }}</td>
                                <td class="">
                                    <a href="" class="btn btn-sm btn-danger float-right rounded-0">Delete</a>
                                    <a href=""
                                       class="btn btn-sm btn-secondary float-right rounded-0 mr-2">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>{% endcomment %}

        <div class="col-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <h5 class="d-inline">Recently Added Items</h5>
                    {% if object_list.count > 6 %}
                        <a href="" class="btn btn-sm btn-secondary float-right rounded-0">View All</a>
                    {% endif %}
                </div>
                <div class="card-block">
                    <table class="table">
                        <thead>
                        <th>Item Code</th>
                        <th>Item</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.product_id }}</td>
                                <td>
                                    {{ object.name }}
                                    {% if object.company %}
                                    <br>
                                    <small class="text-muted">by {{ object.company }}</small>
                                    {% endif %}
                                </td>
                                <td>{{ object.stock }}</td>
                                <td>{{ object.price }}</td>
                                <td class="text-center">
                                    <a href="{% url 'inventory:inventory_edit' object.id %}"
                                       class="btn btn-sm rounded-0 btn-info">Edit</a>
                                    <a href="{% url 'inventory:inventory_delete' object.id %}"
                                       class="btn btn-sm rounded-0 btn-danger" data-toggle="modal"
                                       data-target="#generic-modal-box">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        {% comment %}<div class="col-12">

            <div class="card rounded-0">
                <div class="card-block">
                    <div class="col-6">

                        {#                        <div class="col-4" style="border-right: 1px solid #ECEDEF">#}
                        <h4>Item Categories</h4>

                    </div>
                    <div class="col-8">
                            <h4>Items > All</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Item Name</th>
                                    <th>In Stock</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.product_id }}</td>
                                        <td>{{ object.name }}</td>
                                        <td>{{ object.stock }}</td>
                                        <td>{{ object.price }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {#                    </div>#}
                </div>
            </div>
        </div>{% endcomment %}
    </div>

    {% comment %}<div class="row pt-3">
        <div class="col-12">
            <div class="card rounded-0">
                <div class="card-header">
                    All Items
                    <a href="" class="float-right btn btn-secondary btn-sm rounded-0">View All Items</a>

                    <div class="dropdown float-right pr-2">
                        <button class="btn btn-secondary rounded-0 btn-sm dropdown-toggle" type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter List By Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for obj in category_list %}
                                <a class="dropdown-item" href="#">{{ obj }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    {% if object_list.count > 6 %}
                        <small class="text-muted">Showing 6 of {{ object_list.count }} items</small>
                    {% endif %}
                </div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Item</th>
                            <th>Price</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.product_id }}</td>
                                <td>
                                    {{ obj.name }}<br>
                                    <small class="text-muted">by {{ obj.company }}</small>
                                </td>
                                <td>{{ obj.price }}</td>
                                <td class="text-center">{{ obj.stock }}</td>
                                <td class="text-center">
                                    <a href="{% url 'inventory:inventory_edit' obj.id %}"
                                       class="btn btn-sm rounded-0 btn-info">Edit</a>
                                    <a href="{% url 'inventory:inventory_delete' obj.id %}"
                                       class="btn btn-sm rounded-0 btn-danger" data-toggle="modal"
                                       data-target="#generic-modal-box">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>{% endcomment %}

    <a href="{% url 'inventory:inventory_add' %}" class="btn btn-primary floating-btn rounded-circle"
       title="Add new items"> + </a>

{% endblock %}