{% extends '__base.html' %}

{% block sidebar_inventory %}active{% endblock %}

{% block maincontainer %}
    <ol class="breadcrumb rounded-0">
        <li class="breadcrumb-item"><a href="{% url 'inventory:inventory_overview' %}">Inventory</a></li>
        {% if category %}
            <li class="breadcrumb-item">{{ category.name }}</li>
        {% endif %}
        <li class="breadcrumb-item active">Item List</li>
    </ol>

    <div class="card rounded-0">
        <div class="card-block">
            <table class="table">
                <thead>
                <th>Item Code</th>
                <th>Item</th>
                <th>Stock</th>
                <th>Price</th>
                <th></th>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.product_id }}</td>
                        <td>
                            {{ object.name }}
                            {% if object.company %}
                                <br>
                                <small class="text-muted">by {{ object.company }}</small>
                            {% endif %}
                        </td>
                        <td>{{ object.stock }}</td>
                        <td>{{ object.price }}</td>
                        <td class="text-center">
                            <a href="{% url 'inventory:inventory_edit' object.id %}"
                               class="btn btn-sm rounded-0 btn-info">Edit</a>
                            <a href="{% url 'inventory:inventory_delete' object.id %}"
                               class="btn btn-sm rounded-0 btn-danger" data-toggle="modal"
                               data-target="#generic-modal-box">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}